

docker {
    enabled = true
}

process{
    executor = 'k8s'
    scratch = true
    nodeSelector = 'usedby=ninon'
    withLabel:ALL {
     pod {
         nodeSelector = 'usedby=ninon'
         }
     }
}

k8s {
    debug {
       yaml = true
    }
   namespace = 'default'
   context = 'ninon'
   runAsUser = 0
   storageClaimName = 'nextflow-ninon'
   fetchNodeName = true
   storageMountPath = '/workspace'
}


params {
	identifiers = "/workspace/ninon/daw_data/sarek/large/sarek_accession.txt"
    outdir = "./results"
}